.span12
  %h1 Log In

  = form_tag sessions_path do
    .control-group
      = label_tag :email
      = text_field_tag :email, params[:email], autofocus: true
    .control-group
      = label_tag :password
      = password_field_tag :password
    = submit_tag "Log in", class: 'btn btn-primary'
