<%= form_for(@recipe) do |f| %>
	<%= f.error_messages %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :autofocus => 'autofocus' %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :source_url %><br />
    <%= f.text_field :source_url %>
  </div>
  <div class="field">
    <%= f.label :total_time %><br />
		<%= f.text_field :total_time, :value => @recipe.total_time %>
  </div>
  <div class="field">
    <%= f.label :yield %><br />
    <%= f.text_field :yield %>
  </div>
  <div class="field">
		<%# I can call this whatever I want %>
		<%= label_tag(:raw_ingredients, "Ingredients") %><br />
	  <%= text_area_tag(:raw_ingredients, @recipe.ingredients_str("\n"), :cols => 40, :rows => 20) %>
  </div>
  <div class="field">
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>