= simple_form_for recipe do |f|
  .row
    .span7
      = f.error_messages
      = f.input :user_id, as: 'hidden', input_html: { value: current_user.id }
      = f.input :title, autofocus: true, input_html: { class: 'span5' }
      = f.input :ingredients, input_html: { class: 'span5', rows: 15 }
      = f.input :directions, input_html: { class: 'span5', rows: 15 }
    .span5
      = f.input :author, input_html: { class: 'span4' }
      = f.input :total_time, as: :string, input_html: { value: recipe.total_time, class: 'span4' }
      = f.input :yield, input_html: { class: 'span4' }
      - unless recipe.new_record? || recipe.source_url.nil?
        .field
          = f.label :source_url
          = link_to recipe.source_url, recipe.source_url, target: '_blank'
  .row
    .span12
      = f.button :submit, 'Submit'
      = link_to 'Cancel', recipe, class: 'btn'
