= simple_form_for @recipe, :multipart => true do |f|
  = f.error_messages
  .main-fields
    = f.input :user_id, :as => 'hidden', :input_html => { :value => current_user.id }
    = f.input :title, :autofocus => 'autofocus'
    = f.input :ingredients
    = f.input :directions
  .secondary-fields
    = f.input :image, :as => :file
    = f.input :image_cache, :as => 'hidden'
    = f.input :author
    = f.input :total_time, :as => :string, :input_html => { :value => @recipe.total_time }
    = f.input :yield
    - unless @recipe.new_record?
      .field
        = f.label :source_url
        = link_to @recipe.source_url, @recipe.source_url, :target => '_blank'
  .actions
    = f.button :submit, 'Submit'
    = link_to 'Cancel', @recipe, :class => 'button'
