<% unless @recipes.empty? %>
	<h1><%= @header %></h1>
	
	<% if params[:action] == 'search' %>
		<p><%= page_entries_info @recipes %></p>
	<% end %>
	
	<% @recipes.each do |recipe| %>
		<%= link_to recipe.title, recipe, :class => 'recipe-title' %>
		<p class="author"><%= recipe.author %></p>
		<p class="directions"><%= truncate(recipe.directions, :length => 225) %></p>
	<% end %>

	<%= will_paginate %>
<% end %>