#recipes.span8
  - unless paged_recipes.empty?
    %h1 Recipes

    %ul#recipes-list
      = render :partial => 'partials/recipe', :collection => paged_recipes

    = will_paginate paged_recipes, :previous_label => 'Prev', :next_label => 'Next'

- content_for :sidebar do
  #add-recipe
    %h3 Add a recipe:
    %p
      = link_to 'New Recipe', new_recipe_path, class: 'btn btn-large btn-primary'

  #new-features
    %h3 What's New
    .feature
      %p
        %strong Account Pages:
        There are now public account pages and a page to edit your settings.
      %p
        = timestamp Time.utc(2013,"apr",13)
    .feature
      %p
        %strong Reviews:
        You can now review recipes.
      %p
        = timestamp Time.utc(2013,"feb",27)
    .feature
      %p
        %strong Error Pages:
        New, custom error pages.
      %p
        = timestamp Time.utc(2012,"dec",1)
