<% title "Recipes" %>

<%= form_tag search_recipes_path, :method => 'get', :id => 'search-recipes' do %>
	<div data-role="fieldcontain">
		<%= search_field_tag :search, params[:search], 'required' => 'true', 'placeholder' => 'Search Recipes' %>
	</div>
<% end %>

<% unless @recipes.empty? %>
	
	<% if params[:action] == 'search' %>
		<p class="displaying"><%= page_entries_info @recipes %></p>
	<% end %>

	<ul data-role="listview" data-inset="false" data-theme="a" data-dividertheme="b" id="recipes"> 
		<% @recipes.each do |recipe| %>
		<li><%= link_to recipe.title, recipe %></li>
		<% end %>		
	
	</ul>

	<%= will_paginate(@recipes, 
		:renderer => PaginationListLinkRenderer,
	  :previous_label => "Prev",
	  :next_label => "Next"
		) %>

<% end %>