#search_results
  - unless recipe_results.empty?
    %h1 Search Results

    %p(class="summary") #{page_entries_info recipe_results}

    = form_tag search_recipes_path, :method => 'get', :id => 'search_recipes' do
      = text_field_tag :search, params[:search], 'required' => 'true'
      = submit_tag "S", :name => nil, :id => 'search_submit'

    #search-sort
      %h2 Sort By:
      %ul
        %li
          = sortable('best_match')
        %li
          = sortable('created_at', 'Created At')

    %ul
      = render :partial => 'partials/recipe', :collection => recipe_results

    = will_paginate recipe_results

