#search_results.span8
  - unless recipe_results.empty?
    %h1.left Search Results

    %p.summary= page_entries_info recipe_results

    = form_tag search_recipes_path, :method => 'get', :id => 'search_recipes' do
      = text_field_tag :search, params[:search], 'required' => 'true', class: 'giant'
      = submit_tag "S", :name => nil, :id => 'search_submit', class: 'btn btn-primary'

    #search-sort
      %h2 Sort By:
      .btn-group
        = sortable('best_match')
        = sortable('created_at', 'Date Created')

    %ul#results
      = render :partial => 'partials/recipe', :collection => recipe_results

    = will_paginate recipe_results, :previous_label => 'Prev', :next_label => 'Next'

