#search_results
  - unless @recipes.empty?
    %h1 Search Results

    %p(class="summary") #{page_entries_info @recipes}

    = form_tag search_recipes_path, :method => 'get', :id => 'search_recipes' do
      = text_field_tag :search, params[:search], 'required' => 'true', 'placeholder' => 'Search Recipes'
      = submit_tag "S", :name => nil, :id => 'search_submit'

    %ul
      = render :partial => 'partials/recipe', :collection => @recipes

    = will_paginate

