<% title @recipe.title %>
	
		<div data-role="collapsible" data-collapsed="true" data-theme="a">
			<h5><%= @recipe.title %></h5>
			<ul data-role="listview" data-theme="d" data-inset="true" data-divider-theme="e" id="recipe_info">
				<li data-role="list-divider">Author</li>
				<li><%= @recipe.author %></li>
				<li data-role="list-divider">Total time</li>
				<li><%= @recipe.total_time %></li>
				<li data-role="list-divider">Yield</li>
				<li><%= @recipe.yield %></li>
			</ul>
		</div>
		
	<ul data-role="listview" data-theme="d" data-inset="true" data-divider-theme="e">
		<li data-role="list-divider">Ingredients</li>
		<% @recipe.ingredients_array.each do |ingredient| %>
			<li><%= ingredient %></li>
		<% end %>
	</ul>
	
	<ul data-role="listview" data-theme="d" data-inset="true" data-divider-theme="e">
		<li data-role="list-divider">Directions</li>
		<% @recipe.directions_array.each do |direction| %>
			<li><%= direction %></li>
		<% end %>
	</ul>