<h1><%= @recipe.title %></h1>

<p>
  <h2>Author:</h2>
  <%= @recipe.author %>
</p>

<% unless @recipe.source_url.empty?  %>
	<p>
	  <h2>Source url:</h2>
		<%= link_to @recipe.source_url, @recipe.source_url, :target => '_blank' %>
	</p>
<% end %>

<p>
  <h2>Total time:</h2>
  <%= @recipe.total_time %>
</p>

<p>
  <h2>Yield:</h2>
  <%= @recipe.yield %>
</p>

<p>
  <h2>Ingredients:</h2>
	<ul>
		<% @recipe.ingredients_array.each do |ingredient| %>
			<li><%= ingredient %></li>
		<% end %>
	</ul>
</p>

<p>
  <h2>Directions:</h2>
	<% @recipe.directions_array.each do |direction| %>
		<p><%= direction %></p>
	<% end %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Destroy', @recipe, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', recipes_path %>
