<% title @recipe.title %>

<div data-role="content">	
	<p><%= @recipe.author %></p>
	<p>Total time: <%= @recipe.total_time %> minutes</p>
	<p>Yield: <%= @recipe.yield %></p>
	<p>Ingredients: <%=raw @recipe.ingredients %></p>
	<p>Directions: <%= @recipe.directions %></p>
</div>

