#recipe
  .main-content
    %h1 #{@recipe.title}

    %h2 Ingredients:
    %ul(class="ingredients")
      - @recipe.ingredients_array.each do |ingredient|
        %li #{ingredient}

    %h2 Directions:
    - @recipe.directions_array.each do |direction|
      %p #{direction}

    - if current_user
      .actions
        = link_to 'p', edit_recipe_path(@recipe), :class => 'edit'
        = link_to 't', @recipe, :confirm => 'Are you sure?', :method => :delete, :class => 'delete'

  #recipe_info
    %img(src="http://placekitten.com/g/266/200")

    %h3 Author:
    %p #{@recipe.author}

    %h3 Total time:
    %p #{@recipe.total_time}

    %h3 Yield:
    %p #{@recipe.yield}

    - unless @recipe.source_url.blank?
      %h3 Source url:
      %p
        = link_to truncate(@recipe.source_url, :length => 40), @recipe.source_url, :target => '_blank', :title => @recipe.source_url
