#recipe
  %h1 #{@recipe.title}

  %ul(class="ingredients")
    - @recipe.ingredients_array.each do |ingredient|
      %li #{ingredient}

  - @recipe.directions_array.each do |direction|
    %p #{direction}

  - if current_user
    .actions
      - if @recipe.favorite_for?(current_user)
        %span(class="disabled_favorite" title="This recipe is already in your favorites") h
      -else
        = form_for [current_user, @favorite] do |f|
          = hidden_field_tag "favorite[recipe_id]", @recipe.id
          = hidden_field_tag "favorite[user_id]", current_user.id
          = f.submit 'h', :id => 'favorite_recipe', :title => 'Favorite this recipe'
      = link_to 'p', edit_recipe_path(@recipe), :class => 'edit', :title => 'Edit this recipe'
      = link_to 't', @recipe, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this recipe'

- content_for :sidebar do
  #recipe_info
    %img(src="http://baconmockup.com/266/200")

    %h3(class="first") Author:
    %p #{@recipe.author}

    %h3 Total time:
    %p #{@recipe.total_time}

    %h3 Yield:
    %p #{@recipe.yield}

    - unless @recipe.source_url.blank?
      %h3 Source url:
      %p
        = link_to truncate(@recipe.source_url, :length => 40), @recipe.source_url, :target => '_blank', :title => @recipe.source_url
