#recipe.span8
  .row
    .span7
      %h1= recipe.title

      %ul.ingredients
        - recipe.ingredients_array.each do |ingredient|
          %li= ingredient

      - recipe.directions_array.each do |direction|
        %p= direction

    - if current_user
      .actions.span1
        - if recipe.favorite_for?(current_user)
          -#= link_to 's', [current_user, Favorite.find_by_user_id_and_recipe_id(current_user, recipe)], :confirm => 'Are you sure?', :method => :delete, :class => 'btn remove_favorite', :title => 'Remove this from your favorites'
          %a.remove_favorite.btn.disabled(href="#") s
        -else
          = form_for [current_user, favorite] do |f|
            = hidden_field_tag "favorite[recipe_id]", recipe.id
            = hidden_field_tag "favorite[user_id]", current_user.id
            = f.submit 's', :id => 'favorite_recipe', :title => 'Favorite this recipe', :class => 'btn tooltipped'
        - if current_user.author?(recipe)
          = link_to 'p', edit_recipe_path(recipe), :class => 'btn edit tooltipped', :title => 'Edit this recipe'
          = link_to 't', recipe, :confirm => 'Are you sure?', :method => :delete, :class => 'btn delete tooltipped', :title => 'Delete this recipe'

- content_for :sidebar do
  #recipe_info
    - if recipe.pictures.empty?
      = link_to recipe_pictures_path(recipe), :class => 'btn btn-large' do
        %i.icon-camera
        Add A Photo
    - else
      .flexslider
        %ul(class="slides")
          - recipe.pictures.top_five.each do |pic|
            %li
              %a(href="#{pic.image_url(:large)}" title="#{pic.caption}" rel="galler")
                = image_tag pic.image_url(:small)
        %p.click-for-large Click for a larger image
        %ul.custom-controls
          - recipe.pictures.top_five.each do |pic|
            %li
              %a(href="#")
                = image_tag pic.image_url(:micro)
      %p.add-photos
        = link_to 'Add Photos', recipe_pictures_path(recipe)

    %h3.first Author:
    %p= recipe.author

    %h3 Total time:
    %p= recipe.total_time

    %h3 Yield:
    %p= recipe.yield

    - unless recipe.source_url.blank?
      %h3 Source url:
      %p.source_url
        = link_to truncate(recipe.source_url, :length => 40), recipe.source_url, :target => '_blank'


