#recipe.span8
  .row
    .span7
      %h1.title{class: "tooltipped", title: "click to toggle",
      data: {placement:'top'}}
        =recipe.title

      %ul.ingredients.unstyled
        - recipe.ingredients_array.each do |ingredient|
          %li= ingredient

      - recipe.directions_array.each do |direction|
        %p= direction

    - if current_user
      .actions.span1
        - if recipe.favorite_for?(current_user)
          %a.remove_favorite.btn.disabled(href="#")
            %i.icon-bookmark
        -else
          = form_for [current_user, favorite] do |f|
            = hidden_field_tag "favorite[recipe_id]", recipe.id
            = hidden_field_tag "favorite[user_id]", current_user.id
            -# the following is ugly
            = button_tag '', title: 'Favorite recipe', class: 'btn tooltipped', id: 'favorite-recipe' do
              %i.icon-bookmark-empty
        - if current_user.author?(recipe)
          = link_to edit_recipe_path(recipe), :class => 'btn edit tooltipped', :title => 'Edit recipe' do
            %i.icon-pencil
          = link_to recipe, :confirm => 'Are you sure?', :method => :delete, :class => 'btn delete tooltipped', :title => 'Delete recipe' do
            %i.icon-trash

- content_for :sidebar do
  #recipe_info
    - if recipe.pictures.empty?
      = link_to recipe_pictures_path(recipe), :class => 'add-photo btn btn-large' do
        %i.icon-camera.icon-large
        Add A Photo
    - else
      .flexslider
        %ul(class="slides")
          - recipe.pictures.top_five.each do |pic|
            %li
              %a(href="#{pic.image_url(:large)}" title="#{pic.caption}" rel="galler")
                = image_tag pic.image_url(:small)
        %p.click-for-large Click for a larger image
        %ul.custom-controls
          - recipe.pictures.top_five.each do |pic|
            %li
              %a(href="#")
                = image_tag pic.image_url(:micro)
      %p.add-photos
        = link_to 'Add Photos', recipe_pictures_path(recipe)

    %h3.first Author:
    %p= recipe.author

    %h3 Total time:
    %p= recipe.total_time

    %h3 Yield:
    %p= recipe.yield

    - unless recipe.source_url.blank?
      %h3 Source url:
      %p.source_url
        = link_to truncate(recipe.source_url, :length => 40), recipe.source_url, :target => '_blank'


