<% title @recipe.title %>
	
	<ul data-role="listview" data-theme="d" data-inset="true" data-divider-theme="e">
		<li data-role="list-divider"><%= @recipe.title %></li>
		<li>Author: <%= @recipe.author %></li>
		<li>Total time: <%= @recipe.total_time %></li>
		<li>Yield: <%= @recipe.yield %></li>
	</ul>
		
	<ul data-role="listview" data-theme="d" data-inset="true" data-divider-theme="e">
		<li data-role="list-divider">Ingredients</li>
		<% @recipe.ingredients_array.each do |ingredient| %>
			<li><%= ingredient %></li>
		<% end %>
	</ul>
	
	<ul data-role="listview" data-theme="d" data-inset="true" data-divider-theme="e">
		<li data-role="list-divider">Directions</li>
		<% @recipe.directions_array.each do |direction| %>
			<li><%= direction %></li>
		<% end %>
	</ul>