<h1><%= @recipe.title %></h1>

<div id="recipe_info">
	<h2>Author:</h2>
	<p><%= @recipe.author %></p>
	
	<% unless @recipe.source_url.blank?  %>
	  <h2>Source url:</h2>
		<p>
			<%= link_to truncate(@recipe.source_url, :length => 40), @recipe.source_url, :target => '_blank', :title => @recipe.source_url %>
		</p>
	<% end %>

	<h2>Total time:</h2>
	<p><%= @recipe.total_time %></p>

	<h2>Yield:</h2>
	<p><%= @recipe.yield %></p>
</div>

<div id="main_content">	
	<h2>Ingredients:</h2>
	<ul>
		<% @recipe.ingredients_array.each do |ingredient| %>
			<li><%= ingredient %></li>
		<% end %>
	</ul>

	<h2>Directions:</h2>
	<% @recipe.directions_array.each do |direction| %>
	<p><%= direction %></p>
	<% end %>
</div>

<% if current_user %>
	<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
	<%= link_to 'Destroy', @recipe, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>	

<%= link_to 'Back', recipes_path %>
