%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      #login-search
        = form_tag search_recipes_path, :method => 'get', :class => 'navbar-search pull-right' do
          = text_field_tag :search, nil, 'placeholder' => 'Search Recipes', :class => 'search-query'
          = submit_tag "S", :name => nil, :id => 'search_submit'

      = render_navigation
    -#  - if current_user
      -#    %p(class="logged-in")
      -#      Logged in as  #{current_user.email} | #{link_to "Log out", logout_path}
      -#  - else
      -#    %p(class="logged-out")
      -#      = link_to "Sign up", new_user_path
      -#      = link_to "Log in", login_path


