%nav
  = render_navigation

#other-stuff
  - if current_user
    %p(class="logged-in")
      Logged in as  #{current_user.email} | #{link_to "Log out", logout_path}
  - else
    %p(class="logged-out")
      = link_to "Sign up", new_user_path
      = link_to "Log in", login_path

  = form_tag search_recipes_path, :method => 'get' do
    = text_field_tag :search, nil, 'required' => 'true', 'placeholder' => 'Search Recipes'
    = submit_tag "S", :name => nil, :id => 'search_submit'
