#account.span12
  %h1 Create Account

  = simple_form_for(user) do |f|
    = f.input :email, autofocus: true
    = f.input :username
    = f.input :password
    = f.input :password_confirmation
    = f.input :avatar, as: :file, label: 'Picture'
    = f.input :avatar_cache, as: 'hidden'
    = f.button :submit
