%h1 The Best Place to Keep Your Recipes

%p(id='gallery')
  = image_tag "http://placekitten.com/800/300"

%section(id='summary')
  %h2 Simple, Fast, Free - Pick Three
  %p
    I decided to write Open Recipes when I got sick of trying to organize a pile of
    printed recipes that I had been collecting over the years. It was taking me
    too long to find what I was looking for. And often times, I wanted to find a recipe
    by something other than its title which meant the alphabetizing didn't help; I needed search.
    Once I got a smartphone, I thought it would be nice to be able to access my recipes
    on the go too. Clearly, the web was the answer.

  %p
    There were other options already out there, but none of them seemed to be quite what
    I was looking for. I wanted something simpler, faster, and accessible from any device.
    This is what I came up with.

  %p
    %strong Please Note:
    this site is under active development. I'll try not to break anything as 
    I add features, but it could happen. So, please chill out if something isn't
    working as expected. If you find something and think I won't notice it, open up an
    %a(href="https://github.com/ao140505/recipes/issues?sort=updated&direction=desc&state=open" target="_blank") issue
    \.

%section(id='quote')
  %blockquote
    I wrote this site because I love cooking and web development. Try it out (for free)
    and let me know what you think.
    %span(class='author') - Alex Okolish

%section(id='how-it-works')
  %h2 How it Works
  %ul(id='steps')
    %li(class='step')
      %h3 1. Sign Up
      %p Creating an account is easy and free.
      = image_tag 'http://placekitten.com/190/175'
    %li(class='step')
      %h3 2. Browse
      %p Check out what other people are cooking.
      = image_tag 'http://placekitten.com/190/175'
    %li(class='step')
      %h3 3. Save
      %p Save the best recipes to your recipe box.
      = image_tag 'http://placekitten.com/190/175'
    %li(class='step')
      %h3 4. Contribute
      %p Add your own recipes to the site.
      = image_tag 'http://placekitten.com/190/175'
