.well.add-review
  %h3 Write a Review
  = simple_form_for [recipe, review], remote: remote do |f|
    = f.input :user_id, as: 'hidden', input_html: { value: current_user.id }
    = f.input :recipe_id, as: 'hidden', input_html: { value: recipe.id }
    = f.input :rating, label: false, collection: 1..5, as: :radio_buttons
    = f.input :title, label: false, placeholder: 'title for review', input_html: { class: 'span5' }
    = f.input :body, label: false, placeholder: 'your review...', input_html: { rows: 10, class: 'span5' }
    = f.button :submit
