- author = review.user
.well
  %h4
    = review.title
    = render partial: 'partials/rating', locals: { rating: review.rating }
  %p= review.body
  %p
    = link_to user_path(author) do
      %i= author.username
    %span |
    %span #{time_ago_in_words(review.created_at)} ago
  - if current_user && author == current_user
    = link_to edit_recipe_review_path(review.recipe, review), class: 'btn edit-review btn-small' do
      %i.icon-pencil
