!!! 5
%html
  %head
    = render(:partial => 'partials/head')

  %body(class="#{params[:controller]}-#{params[:action]}")
    = render(:partial => 'partials/header')
    .container

      #container
        - flash.each do |type, message|
          %div.alert.fade.in{ "data-dismiss" => "alert", :class => twitterized_type(type) }
            %a.close{:href => "#"} ×
            = message

        .row
          = yield

          - if content_for?(:sidebar)
            %aside#sidebar.span4
              = yield(:sidebar)
          - else
            -# default sidebar content
            %aside#sidebar.span4
              -# TODO: come up with default content for this
              -# maybe, big button for adding recipes
              -# maybe, what's new on the site?
              -# import with tooltip?


        %footer
          %ul.links
            %li
              = link_to 'New Recipe', new_recipe_path
            %li
              = link_to 'Import', import_recipes_path
          = javascript_include_tag "application"
