!!! 5
%html
%head
  = render(:partial => 'partials/head')

%body(class="#{params[:controller]}-#{params[:action]}")
  %header
    = render(:partial => 'partials/header')
			
  #container
    #content
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = content_tag :h1, yield(:title) if show_title?
      = yield

    %footer
      = link_to 'Home', "/"
      = link_to 'New Recipe', new_recipe_path
      = link_to 'Import', import_recipes_path
