<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Recipes" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="<%= "#{params[:controller]}-#{params[:action]}" %>">
    <div id="container">
			<div id="header">
				<%= link_to "Mobile Site", root_url(:mobile => 1) %>
				<%= link_to 'New Recipe', new_recipe_path %>
				<%= link_to 'Import a Recipe', import_recipes_path %>
				
				<% if current_user %>
			    Logged in as <%= current_user.email %>.
			    <%= link_to "Log out", logout_path %>
			  <% else %>
			    <%= link_to "Sign up", new_user_path %>
			    <%= link_to "log in", login_path %>
			  <% end %>
			
				<%= form_tag search_recipes_path, :method => 'get' do %>
				    <%= text_field_tag :search, params[:search], 'required' => 'true', 'placeholder' => 'Search Recipes' %>
				    <%= submit_tag "Search", :name => nil %>
				<% end %>
			</div>
			<div id="content">
	      <% flash.each do |name, msg| %>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <% end %>
	      <%= content_tag :h1, yield(:title) if show_title? %>
	      <%= yield %>
			</div>

			<footer>
				<%= link_to 'Home', "/" %>
				<%= link_to 'New Recipe', new_recipe_path %>
				<%= link_to 'Import a Recipe', import_recipes_path %>
			</footer>
    </div>
  </body>
</html>
