<!DOCTYPE html>
<html>
 <head>
    <title><%= yield(:title) || "Untitled" %></title>
		<!-- looks good when you change to landscape -->
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<!-- does not look good when you change to landscape. supposedly, an iOS bug
				<meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <%= stylesheet_link_tag "jquery.mobile-1.0a4.1.css" %>
		<%= stylesheet_link_tag "mobile" %>
    <%= javascript_include_tag "jquery", "jquery_ujs", "double_tap", "mobile", "jquery.mobile-1.0b1.min" %>
    <%= yield(:head) %>
  </head>
  <body>
    <div data-role="page" data-theme="a">
			<div data-role="header">
				<h1><%= yield(:title) %></h1>
			</div>
			
			<div data-role="content">
				<% if flash[:notice] %>
					<ul data-role="listview" data-theme="d" data-inset="true" data-divider-theme="e">
					<% flash.each do |name, msg| %>
		        <%= content_tag :li, msg, :id => "flash_#{name}", 'data-role' => 'list-divider' %>
		      <% end %>
					</ul>
				<% end %>
	      <%= yield %>

				<ul data-role="listview" data-inset="true" id="footer" data-theme='b'>
					<li><%= link_to 'Home', "/" %></li>
					<li><%= link_to 'Import a Recipe', import_recipes_path %></li>
					<li><%= link_to "Full Site", root_url(:mobile => 0), :rel => "external" %></li>
				</ul>
			</div>
    </div>
  </body>
</html>
