!!! 5
%html
  %head
    = render partial: 'partials/head'

  %body(class="#{body_class}")
    = render partial: 'partials/header'
    .container
      -# NOTE: from the department of redundancy department
      #container
        = render partial: 'partials/flash', locals: { flash: flash }

        .row
          = yield
          = render partial: 'partials/sidebar'

        = render partial: 'partials/footer'
